.effectsScreen-container {
  position: fixed;
  top: 5%;
  left: 0px;
}

.indicators-container {
  display: flex;
}

.effects-container {
  display: flex;
  flex-direction: column;
}

.effect-box {
  display: flex;
  align-items: center;
}

.effect-box__image {
  width: 25px;
  margin-right: 3px;
}

.effect-box__time, .effect-box__level {
  opacity: 0.7;
}

.effect-box__time {
  font-size: 0.7rem;
}

.effect-box__level {
  font-size: 0.5rem;
}
