.container {
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.group-category {
    font-size: 1rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 7px;
}

.actionBinds {
    position: relative;
    display: flex;
}

.warning-container {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    height: inherit;
}

.actionName {
    flex-basis: 40%;
    flex-wrap: wrap;
}

.undo-keyboard,
.undo-gamepad {
    position: absolute;
    left: 32.8%;

    flex-basis: 20px;
}

.undo-gamepad {
    left: 76.5%;
}

.button {
    width: 100%;
}

.margin-left {
    margin-left: 25px;
}

.matched-bind {
    border: 1px solid red;
    border-bottom: 1px solid red;
}

.matched-bind-warning {
    display: flex;
    color: yellow;
    font-family: inherit;
    font-size: 5px;
    width: fit-content;
}

.matched-bind-warning a {
    color: inherit;
}

/* ~~~~ custom bindings styles */

.chat-command {
    font: inherit;
    color: white;
    display: block;
    height: 100%;
    flex-grow: 1;
}