.scoreboard-container {
  z-index: -1;
  pointer-events: none;
  white-space: nowrap;
  position: fixed;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.7;
  background-color: black;
  min-width: 100px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding-inline: 5px;
}

.scoreboard-title {
  text-align: center;
}

.item-container {
  display: flex;
}

.item-value {
  margin-left: auto;
  color: lightcoral;
}
