name: CI
on:
  pull_request:
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout repository
        uses: actions/checkout@master
      - name: Setup Java JDK
        uses: actions/setup-java@v1.4.3
        with:
          java-version: 17
          java-package: jre
      - name: Install pnpm
        run: npm i -g pnpm@9.0.4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          # cache: "pnpm"
      - run: pnpm install
      - run: pnpm check-build
      - run: pnpm build-playground
      - run: pnpm build-storybook
      - run: pnpm test-unit
      - run: pnpm lint
      - run: pnpm tsx scripts/buildNpmReact.ts
      - run: nohup pnpm prod-start &
      - run: nohup pnpm test-mc-server &
      - uses: cypress-io/github-action@v5
        with:
          install: false
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-images
          path: cypress/screenshots/
      - name: print current ref
        run: echo ${{ github.event.pull_request.base.ref }}
      - run: node scripts/outdatedGitPackages.mjs
        if: ${{ github.event.pull_request.base.ref == 'next' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
